* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  object-fit: cover;
}

body {
  text-align: center;
  font-family: sans-serif;
}
.logo {
  width: 70px;
  height: 70px;
  margin-left: 14px;
  border-radius: 50%;
  transition: all 0.2s ease;
}

.logo:hover {
  transform: rotate(-20deg) scale(1.1);
}
a {
  text-decoration: none;
}
button {
  margin-left: 50px;
  color: #fff;
  background-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-color: #fff;
}

.top-button {
  padding: 25px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 1em;
  border-radius: 5px;
}

.top-button:hover {
  cursor: pointer;
  color: red;
  background: #fff;
}
.navigation {
  color: #fff;
  margin-left: 10px;
  font-weight: bold;
}
.logo-nav-flex {
  display: flex;
  text-align: right;
  margin-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

nav {
  width: 100%;
}

#header {
  font-size: 3.5em;
  margin-top: 120px;
  letter-spacing: 0.1em;
}

#header-info {
  font-size: 1.8em;
  padding-left: 100px;
  padding-right: 100px;
  font-family: serif;
  font-weight: 525;
  margin-top: 30px;
}

.check-my-work {
  margin-top: 30px;
}

header {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  color: #fff;
}

.overlay {
  position: absolute;
  z-index: -3;
  width: 100%;
  height: 100%;
  background: rgba(210, 77, 87, 1);
}

.overlay-image {
  opacity: 0.2;
  width: 100%;
}

#portfolio {
  background-color: #f8f8f8;
  padding: 100px;
}

#portfolio h1 {
  font-size: 2.5em;
  letter-spacing: 0.2em;
}
#portfolio p {
  margin-top: 30px;
  font-size: 1.5em;
  color: rgb(94, 88, 88);
  font-family: serif;
  padding-left: 100px;
  padding-right: 100px;
  word-spacing: 0.1em;
  word-wrap: break-word;
}

#get-more-info {
  min-height: 55vh;
}

#get-more-info h2 {
  margin-top: 120px;
  font-weight: lighter;
  font-size: 1.7em;
  word-spacing: 0.1em;
  color: #3b3838;
}

hr {
  margin-top: 25px;
  width: 5%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(167, 162, 162);
}

#get-more-info p {
  margin-top: 30px;
  color: rgb(114, 110, 110);
  font-size: 1.5em;
  padding-left: 300px;
  padding-right: 300px;
  font-family: serif;
}

.get-more-info-text {
  color: #cd3944;
}

.call-to-actions {
  margin-top: 40px;
}

.more-on-behance,
.online-soon
.contact-button {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
  font-size: 0.8em;
}

.more-on-behance {
  border: 2px solid #d24d57;
  color: #d24d57;}
  
.contact-button {
  border: 2px solid white;
  color: white;
}
.contact-button:hover {
  background: #d24d57;
  color: #fff;
  cursor: pointer;
}
.more-on-behance:hover {
  background: #d24d57;
  color: #fff;
  cursor: pointer;
}

.online-soon {
  border: 2px solid rgb(173, 171, 171);
  color: rgb(173, 171, 171);
  cursor: pointer;
}

#about-me {
  padding: 5em;
  background: #016052;
  min-height: 100vh;
}

#about-me h1 {
  font-size: 2.5em;
  color: white;
  margin-top: 50px;
  letter-spacing: 0.1em;
}
#about-me p {
  margin-top: 1.5em;
  font-size: 1.5em;
  color: #fff;
  font-family: serif;
  padding-left: 100px;
  padding-right: 100px;
  word-spacing: 0.1em;
  word-wrap: break-word;
  text-align: center;
}
#about-me a {
  border-bottom: 1px solid transparent;
  color: white;
  background: rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease-in-out;
}

#contact {
  background: #d24d57;
  min-height: 100vh;
  padding: 5em;
}
#contact h1 {
  letter-spacing: 0.1em;
  font-size: 2.5em;
  color: white;
  margin-top: 100px;
  padding-right: 300px;
  padding-left: 300px;
}

#contact p {
  margin-top: 50px;
  margin-right: 175px;
  margin-left: 175px;
  color: white;
  font-family: serif;
  font-size: 1.8em;
  font-weight: 400;
}

